.custom-scrollbar::-webkit-scrollbar {
    width: 0px; 
  }
  
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px; 
    mix-blend-mode: multiply;
  }
  
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 6px;
  }
.neg{
  right:-2;
}
zee{
  z-index: -1;
}