.bg-image{
    background-image: url("https://static.vecteezy.com/system/resources/previews/004/933/932/original/pixel-gradient-background-illustration-vector.jpg");
}

.briem-hand-500 {
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.shadow0{
    text-shadow: 1px 1px 1px black;
}
img{
    mix-blend-mode: multiply;
}
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  } 
.source-code-pro-500 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.bg-pixel{
  background-image: url("https://img.freepik.com/free-photo/pixelated-background-with-blue-shades_23-2149701487.jpg");
}
.bg-pixelred{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHLLL33sfAIV1XDkLjaPvPRTePXDlE1FfKFyRFhi0c_KfZFNQgU6wDIDn14V0MEnxUzo0&usqp=CAU");
}
.bg-pixelgreen{
  background-image: url("https://as2.ftcdn.net/v2/jpg/04/19/55/87/1000_F_419558798_3wKoEuONS3exHtMccMCUbO3rMVLrdJAX.jpg");
}
.text-mult{
  background-image: linear-gradient(rgb(68, 152, 232), rgb(51, 236, 51));
}
.typewriter{
  color: #000000;
  overflow: hidden; 
  border-right: .15em solid #4285F4; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing:2px; 
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite,
    cursor-disappear 2.6s forwards; 
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #000000 }
}

@keyframes cursor-disappear {
  to { border-color: transparent; } 
}